@import "tailwindcss";

/* เพิ่มเติมเพื่อให้พื้นหลังเป็นสีดำสนิทแบบ Apple */
:root {
  background-color: #000000;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* ล็อคให้เลื่อนเฉพาะส่วน Content */
}
